
$main_color: #14cf93;
$main_color2: #caff33;
$body_color: #fff;
$sub_bg: #1d1d1d;
$sub_bg2: #222;
$main_bg: #1a1a1a;
$mobile-xs-screen: 480px;
$tablet-sm-screen: 768px;
$desk-md-screen: 992px;
$desk-lg-screen: 1300px;


/* ====================== [ Custom Preview Styles  ] ====================== */

@font-face {
    font-family: gallient;
    src: url('../gallient/Gallient.ttf');
}

.spc-font{
    font-family: 'gallient';
}

header{
    position: relative;
    padding: 180px 0 0;
    overflow: hidden;

    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        background-image: url(../../Infolio/assets/imgs/patterns/lines1.png);
        background-size: cover;
        background-position: center top;
        opacity: .1;
        z-index: -1;
    }

    .caption{

        h1{
            font-size: 90px;
        }

        h6{
            display: inline-block;
            padding: 10px 30px;
            border: 1px solid rgba(255,255,255,.1);
            border-radius: 30px;
        }

        p{
            max-width: 600px;
            margin: auto;
        }
    }

    .imgs{
        position: relative;

        .curvtop{
            position: absolute;
            top: 0;
            left: -100px;
            right: -100px;
            height: 5vw;
            border-radius: 0 0 50% 50%/0 0 100% 100%;
            z-index: 3;
        }

        .curvbotm{
            position: absolute;
            bottom: 0;
            left: -100px;
            right: -100px;
            height: 5vw;
            border-radius: 50% 50% 0 0/100% 100% 0 0;
            z-index: 3;
        }
    }

    .main-marq{
        position: relative;

        &:after{
            content: '';
            position: absolute;
            top: -30px;
            bottom: -30px;
            left: -30px;
            right: -30px;
            pointer-events: none;
            background: linear-gradient(to left, #1a1a1a, rgba(255, 255, 255, 0) 250px, rgba(255, 255, 255, 0) calc(100% - 250px), #1a1a1a);
        }

        .box {
            position: relative;
            animation: slide-har 150s linear infinite !important;
        }

        .item{
            padding: 0 7px !important;

            .img{
                width: 35vw;
            }
        }
    }
}

.container-xxl{
    max-width: 1440px;
}

main{
    position: relative;
    z-index: 3;
}

.filter{

    span{
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 14px;
        padding: 10px 20px;
        border: 1px solid rgba(255,255,255,.1);
        border-radius: 30px;
        margin: 0;
        margin-right: 15px;
        position: relative;
        cursor: pointer;
        opacity: .7;

        &.active{
            opacity: 1;
            border: 1px solid rgba(255,255,255,.5);
        }

        &:after{
            display: none;
        }
    }
}

.demos{

    .item{
        margin-top: 50px;
        position: relative;

        .img{
            border-radius: 5px;
            overflow: hidden;
        }

        h6{
            font-size: 18px;
        }

        .new{
            position: absolute;
            top: 15px;
            right: 0px;
            font-size: 13px;
            font-weight: 600;
            padding: 3px 10px;
            background: #ff2300;
        }
    }
}

.works.showcases .panel .item{
    position: relative;
    margin-top: 40px;

    .img{
        height: auto;
        min-height: auto;
        margin-bottom: 30px;
    }
}

.works.showcases{
    position: relative;

    .text-bg{
        font-size: 10vw;
        font-family: 'gallient';
        text-transform: uppercase;
        position: absolute;
        top: 80px;
        left: 150px;
    }
}

.pages{
    color: #1a1a1a;
    background: #ececec;

    p{
        color: #777;
    }

    .swiper3{
        clip-path: inset(-100vw -100vw -100vw 0);
    }

    .swiper-container {
        overflow: visible;
    }

    .item{
        border-radius: 10px 10px 0 0;
        border-bottom: 0;
        overflow: hidden;
    }
}

.uniq-portfolio{

    .imgs{
        position: relative;
    }

    .img-abslout{
        position: absolute;
        left: 0;
        bottom: 0;
        width: calc(100% + 100px);
    }

    .thum-work{
        display: flex;
        flex-wrap: wrap;

        .item{
            margin-inline-end: 30px;
            margin-top: 30px;
            text-align: center;
            width: 130px;

            span{
                margin-top: 15px;
            }
        }
    }

    .line-overlay{
        top: 200px;
    }
}

.respo{

    .img{
        width: 130%;
        margin-left: -30%;
    }
}

.main-marq.lrg .box .item h4{
    font-size: 10vw;
    -webkit-text-stroke: 1px #fff;
}

@media screen and (max-width: $desk-md-screen){

    header .caption h1{
        font-size: 45px !important;
    }

    .navbar{

        .text-center{
            text-align: left !important;
        }

        .icon-img-120{
            width: 90px !important;
        }
    }
}



