
/* Menu
-----------------------------------------------------------------*/

.navbar{
	position: absolute;
	left: 0;
    top: 0;
    padding: 0;
    margin: 0;
	width: 100%;
    background: transparent;
    border-bottom: 2px solid transparent;
	z-index: 999;

    &.nav-crev{
        width: calc(100% - 80px);
        left: 40px;
        top: 30px;
        background: rgba(255,255,255,.05);
        border: 1px solid rgba(255,255,255,.1);
        border-radius: 40px;
		backdrop-filter: blur(8px);
        min-height: auto;
        transform: translate(0) !important;

        &.nav-scroll{
            background: $main_bg;
            border-color: rgba(255,255,255,.05);
            padding: 0;
            position: fixed;
            top: -80px;
            transform: translateY(80px) !important;
            left: 0;
            width: 100%;
            border-radius: 0;
        }
    }

	&.static{
		position: relative;
	}

	&.main-bg{
		background: $main_bg;
		border-color: rgba(255,255,255,.05);
	}

	&.sub-bg{
		background: $sub_bg;
		border-color: rgba(255,255,255,.05);
	}

	&.bord{
		border-color: rgba(255,255,255,.05);
	}

	&.blur{
		border-color: rgba(255,255,255,.05);
		backdrop-filter: blur(10px);
	}

	&.nav-scroll{
		background: $main_bg;
		border-color: rgba(255,255,255,.05);
		padding: 0;
		position: fixed;
		top: -80px;
		transition: transform .8s;
		transform: translateY(80px);
	}

	.icon-bar{
		color: #fff;
	}

	.navbar-nav{
  
		.nav-link{
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 13px;
            font-weight: 600;
			color: #fff;
            padding: 20px 10px 15px 10px;
            margin: 0 15px;

            .rolling-text{
                height: 30px;
                line-height: 30px;
            }
		}

		.dropdown-menu{
			padding: 20px 10px;
			border: 1px solid #393939;
		}
    }

    .dropdown-menu{
        display: block;
		position: absolute;
		top: 75px;
        opacity: 0;
        visibility: hidden;
        border-radius: 0;
        color: #fff;
        background: $sub_bg;
		border: 1px solid #393939;
		border-radius: 5px;
        min-width: 255px;
        transform: translateY(20px);
        transition: all .4s;
    
        &.show{
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }

		&.show-left{

			.dropdown-item{

				.dropdown-side{
					left: auto;
					right: 248px;
				}
			}
		}
    
        .dropdown-item{
            font-size: 14px;
            color: #fff;
            transition: all .4s;
            padding: 10px 25px;
            position: relative;

			.dropdown-side{
				position: absolute;
				left: 248px;
				top: -15px;
				display: block;
				opacity: 0;
				visibility: hidden;
				border: 1px solid #393939;
				border-radius: 5px;
				background: $sub_bg;
				width: 240px;
				padding: 20px 0px;
				transform: translateY(20px);
				transition: all .4s;

				&.show{
					opacity: 1;
					visibility: visible;
					transform: translateY(0);
				}
			}

			.icon-arrow{
				position: absolute;
				right: 15px;
			}
    
            &:after{
                content: '';
                width: 0px;
                height: 1px;
                background: #fff;
                position: absolute;
                left: 10px;
                top: 18px;
                transition: all .4s;
            }
    
            &:hover{
                padding-left: 30px;
                background: transparent;
                
                &:after{
                    width: 10px;
                }
            }
        }
    }

	.no-relative{
		position: static;
	}

	.dropdown{
		position: static;
	}

	.mega-menu{
		width: 96vw;
		position: absolute;
		left: 2vw;
		top: 75px;
		padding: 40px 0 30px !important;
		border: 1px solid #393939;
		border-radius: 5px;
		overflow: hidden;

		.title{
			margin-bottom: 20px;

			.sub-title{
				font-weight: 600;
			}
		}

		.dropdown-item{
			padding: 10px 0;

			&:after{
				left: 0;
			}

			&:hover{
				padding-left: 20px;
			}
		}
	}
    
    .search-form{
        position: relative;

		&.open{

			.form-group{
				opacity: 1;
				visibility: visible;
				bottom: -1px;
			}

			.search-icon{

				.open-search{
					opacity: 0;
					visibility: hidden;
					transform: translateY(-10px);
				}
			}
		}

        .form-group{
            position: absolute;
            right: 0;
            bottom: -35px;
            transform: translateY(100%);
            padding: 15px;
            background: rgba(255,255,255,.05);
			backdrop-filter: blur(10px);
			opacity: 0;
			visibility: hidden;
			transition: all .4s;

            input{
                padding: 10px 55px 10px 15px;
                background: #fff;
                border: 0;
                border-radius: 5px;
            }

            button{
                position: absolute;
                top: 15px;
                right: 15px;
                padding: 10px 15px;
                background: #ccc;
                border: 0;
                border-radius: 5px;
            }
        }
        
        .search-icon{
            position: relative;
            padding: 25px 30px;
            cursor: pointer;

            &:after{
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                border-left: 1px solid rgba(255,255,255,.2);
                border-right: 1px solid rgba(255,255,255,.2);
            }

            .close-search{
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
				backdrop-filter: blur(10px);
                text-align: center;
                padding: 25px 0;
                font-size: 20px;
				display: none;
            }

			.open-search{
				transition: all .3s;
			}

        }
    }

	.menu-icon{
		padding: 25px 30px;
	}

    .dropdown-toggle:after{
        margin-left: 5px;
        vertical-align: 12px;
    }
}

.hamenu{
	position: fixed;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100vh;
	background: $sub_bg;
	overflow: hidden;
	z-index: 9999;
	transition: all 0.5s cubic-bezier(1, 0, 0.55, 1);

	.logo{
		position: absolute;
		top: 40px;
		left: 40px;
	}

	.close-menu{
		position: absolute;
		top: 30px;
		right: 40px;
		width: 60px;
		height: 60px;
		line-height: 60px;
		border: 1px solid rgba(255,255,255,.2);
		border-radius: 50%;
		text-align: center;
		cursor: pointer;
		z-index: 4;
	}

	.logo,
	.close-menu{
		transform: translateY(-100px);
		opacity: 0;
		transition: all .4s;
	}

	&.open{

		.logo,
		.close-menu{
			transform: translateY(0);
			opacity: 1;
			transition-delay: 1s;
		}

		.menu-links{

			.main-menu{

				> li{
					
					.link{
						transform: translateY(0);
						opacity: 1;
						transition-delay: 1s;
					}
				}
			}
		}

		.cont-info{

			.item{
				transform: translateY(0);
				opacity: 1;
				transition-delay: 1.4s;
			}
		}

		.menu-text{

			.text{
				opacity: 1;
				transition-delay: 1s;
			}

			&:after{
				height: 200vh;
				transition-delay: .7s;
			}
		}
	}

	.menu-links{
		color: #fff;
		height: 100vh;
		padding-top: 140px;
		overflow: auto;

		&::-webkit-scrollbar {
			width: 5px;
		}
		
		&::-webkit-scrollbar-track {
			background: #111;
		}
		
		&::-webkit-scrollbar-thumb {
			background: rgba(255,255,255,.2);
			border-radius: 5px;
		}

		.main-menu{
			position: relative;
			z-index: 2;

			ul{
				margin: 0;
				padding: 0;
			}

			> li{
				transition: all .5s;
				
				.link{
					font-size: 50px;
					font-weight: 600;
					text-transform: uppercase;
					letter-spacing: 1px;
					line-height: 1.2;
					padding: 20px 30px;
					border-top: 1px solid rgba(255,255,255,.05);
					width: 100%;
					position: relative;
					display: block;
					transform: translateY(100px);
					opacity: 0;
					transition: all .7s;

					i{
						position: absolute;
						width: 90px;
						top: 0;
						right: 0;
						bottom: 0;
						background: rgba(255,255,255,.02);

						&:before{
							content: '';
							width: 1px;
							height: 16px;
							position: absolute;
							top: 50%;
							left: 50%;
							background: #fff;
						}

						&:after{
							content: '';
							width: 16px;
							height: 1px;
							position: absolute;
							top: calc(50% + 8px);
							left: calc(50% - 8px);
							background: #fff;
						}
					}

					&.dopen{

						i{

							&:before{
								opacity: 0;
							}
						}
					}

					.fill-text{
						position: relative;
						color: rgba(255,255,255,.4);

						&:after{
							content: attr(data-text);
							position: absolute;
							top: 0;
							left: 0;
							color: #fff;
							width: 100%;
							overflow: hidden;
							white-space: nowrap;
							transition: width .75s cubic-bezier(.63,.03,.21,1);
						  }
					}
				}

				&:last-of-type{

					.link{
						border-bottom: 1px solid rgba(255,255,255,.05);
					}
				}

				&.hoverd{
					
					.link{

						.fill-text{
	
							&:after{
								width: 0;
							  }
						}
					}
				}

				.sub-dmenu{
					font-size: 30px;
					font-weight: 500;
					padding-left: 50px;
					text-transform: capitalize;
					letter-spacing: normal;
					border-color: rgba(255,255,255,.02);
					background: rgba(255,255,255,.009);
				}
			}

			.sub-menu{
				display: none;
				padding: 20px 0;
				border-top: 1px solid rgba(255,255,255,.05);

				&.no-bord{
					border-top: 0;
					padding: 0;
				}

				li{
					padding: 0;
					margin: 0;
					line-height: 1;
					font-size: 22px;
					font-weight: 400;
					
					a{
						padding: 12px 12px 12px 40px;
						opacity: .6;
						transition: all .4s;

						&:hover{
							opacity: 1;
						}
					}
				}
			}

			.sub-menu2{
				display: none;
				padding: 10px 0 20px;

				li{
					padding: 0;
					margin: 0;
					line-height: 1;
					font-size: 22px;
					font-weight: 400;
					
					a{
						padding: 12px 12px 12px 70px;
						opacity: .6;
						transition: all .4s;

						&:hover{
							opacity: 1;
						}
					}
				}
			}
		}
	}

	.menu-text{
		position: relative;
		height: 100%;
		
		.text{
			position: absolute;
			right: 25%;
			top: 50%;
			transform: translateY(-50%);
			z-index: 2;
			opacity: 0;
			transition: all .4s;

			h2{
				writing-mode: vertical-rl;
				transform: rotate(180deg);
				font-size: 10vw;
				font-weight: 800;
				line-height: 1;
				text-transform: uppercase;
				opacity: .02;
			}
		}

		&:after{
			content: '';
			width: 1px;
			height: 0;
			background: rgba(255,255,255,.05);
			position: absolute;
			right: -30px;
			bottom: -75vh;
			transition: all 1s ease;
		}
	}

	.cont-info{
		padding-top: 140px;
		padding-left: 15px;
		position: relative;
		z-index: 3;

		&:after{
			content: '';
			width: 300%;
			height: 200vh;
			position: absolute;
			left: -30px;
			top: -75vh;
			background: $main_bg;
			z-index: -1;
		}

		.item{
			transform: translateY(50px);
			transition: all .4s;
			opacity: 0;

			h5{
				font-size: 20px;
			}
		}
	}
}