
/* Brands & Clients
-----------------------------------------------------------------*/

.brands{

    .brand-swiper{

        .swiper-slide{
            height: auto;
        }

        .item{
            padding: 60px 30px;
            border-right: 1px solid rgba(255,255,255,.08);
            height: 100%;

            a{
                width: 100px;
            }
        }
    }
}

.brands-crev{

    .sec-head{
        padding: 80px 20px 80px 80px;
        position: relative;

        &:after{
            content: '';
            position: absolute;
            top: -30px;
            left: 0px;
            right: -100vw;
            bottom: 0;
            background: $sub_bg;
            border-radius: 0 0 0 30px;
        }

        .shap-left-top{
            position: absolute;
            top: -1px;
            left: -2.05rem;
            transform: rotate(90deg);
        
            svg{
                width: 2.1rem;
                height: 2.1rem;
            }
        }

        &.nocurve{

            &:after{
                border-radius: 0;
            }
        }
    }

    .item{
        padding: 130px 20px;
        text-align: center;
        position: relative;
        border: 1px solid rgba(255,255,255,.08);

        &:after{
            content: '';
            position: absolute;
            top: 35px;
            left: 35px;
            right: 35px;
            bottom: 35px;
            background: linear-gradient(130deg, transparent, $main-color);
            opacity: 0;
            transition: all .4s;
        }

        &:hover{

            &:after{
                opacity: 1;
            }
        }

        &.empty{
            border: 0;

            .text{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
            }

            &:after{
                display: none;
            }
        }

        .top-left{
            top: -.8rem;
            left: -.8rem;
        }
        
        .top-right{
            top: -.8rem;
            right: -.8rem;
        }

        .bottom-left{
            bottom: -.8rem;
            left: -.8rem;
        }
        
        .bottom-right{
            bottom: -.8rem;
            right: -.8rem;  
        }

        .top-left,
        .top-right,
        .bottom-left,
        .bottom-right{
            position: absolute;

            &:after{
                content: '';
                position: absolute;
                top: -20px;
                left: -20px;
                right: -20px;
                bottom: -20px;
                background: $main_bg;
            }
        }

        svg{
            width: 1.6rem;
            position: relative;
            z-index: 3;
            opacity: .4;
        }

        img{
            width: 100px;
        }

        .img,
        .text{
            position: relative;
            z-index: 2;
        }
    }

    &.simple{

        .sec-head{

            &:after{
                display: none;
            }
        }
    }

    &.revers-bg{

        .item{

            .top-left,
            .top-right,
            .bottom-left,
            .bottom-right{
                position: absolute;

                &:after{
                    content: '';
                    position: absolute;
                    top: -20px;
                    left: -20px;
                    right: -20px;
                    bottom: -20px;
                    background: $sub_bg;
                }
            }
        }
    }
}

.clients{

    .brand{

		&:hover{

			.img{
				transform: scale(0);
				opacity: 0;
			}

			.link{
				opacity: 1 !important;
				transition: all 0;
			}

			.char {
				animation: fadeInUp .3s cubic-bezier(.3, 0, .7, 1) both;
				animation-delay: calc(20ms * var(--char-index));
			}
		}

		.item{
			position: relative;
			text-align: center;
            padding: 80px 20px;
            border: 1px solid rgba(255,255,255,.1);
            border-radius: 10px;

			.link{
				font-size: 16px;
				width: max-content;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%);
				opacity: 0;
				transition: all .3s;
			}
		}

		.img{
			opacity: .8;
			max-width: 100px;
			margin: auto;
			position: relative;
			transition: all .4s;
		}
	}
}

.clients-carso{

    .img{
        margin: auto;
    }
}

.clients-carso2{
    padding: 60px 0;
    border-top: 1px solid rgba(255,255,255,.2);
    border-bottom: 1px solid rgba(255,255,255,.2);

    .img{
        margin: auto;
        opacity: .8;

        &:hover{
            opacity: 1;
        }
    }
}

.brand-box{

    .box-bord{
        border: 1px solid rgba(255,255,255,.08);
        padding: 140px 30px 60px;
    }
}

.img-scale{
    position: relative;
    height: 600px;

    .top-curve{
        position: absolute;
        top: -2px;
        right: 0;
        background: $main_bg;
        padding: 40px;
        border-radius: 0 0 0 30px;
        z-index: 3;

        .shap-left-top{
            position: absolute;
            top: 0;
            left: -2.05rem;
            transform: rotate(90deg);
        
            svg{
                width: 2.1rem;
                height: 2.1rem;
            }
        }

        .shap-right-bottom{
            position: absolute;
            bottom: -2.12rem;
            right: 0;
            transform: rotate(90deg);
        
            svg{
                width: 2.1rem;
                height: 2.1rem;
            }
        }
    }

    .bottom-curve{
        position: absolute;
        left: -1px;
        bottom: -1px;
        padding: 30px 140px;
        background: $main_bg;
        border-radius: 0 30px 0 0;
        z-index: 3;

        .shap-left-top{
            position: absolute;
            top: -2.05rem;
            left: 1px;
            transform: rotate(270deg);
        
            svg{
                width: 2.1rem;
                height: 2.1rem;
            }
        }

        .shap-right-bottom{
            position: absolute;
            bottom: 0;
            right: -2.1rem;
            transform: rotate(270deg);
        
            svg{
                width: 2.1rem;
                height: 2.1rem;
            }
        }
    }

    .image{
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .image > .img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .image img {
        width: 100%;
        object-fit: cover;
        object-position: center center;
    }
    
    .vid-circle{
        width: 200px;
        height: 200px;
        border: 1px solid rgba(255,255,255,.5);
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        z-index: 5;
    }
}


  



