
/* Headers
-----------------------------------------------------------------*/

.main-header{
    padding: 120px 0 0;
    background-size: cover;

    .container-fluid{
        width: calc(100% - 100px);
        margin: auto;
    }

    .lg-text{
        margin-bottom: -50px;

        h1{
            text-transform: uppercase;
            font-size: 9vw;
            line-height: 1;
        }
    }
}

.digital-header{
    min-height: 100vh;
    width: calc(100% - 60px);
    margin: auto;
    border-radius: 30px 30px 30px 0;
    position: relative;

    &:before{
        border-radius: 30px 30px 30px 0;
    }

    .caption{
        position: relative;
        background: $main_bg;
        padding: 30px 30px 30px 80px;
        margin-top: -1px;
        border-radius: 0 0 0 30px;
        z-index: 3;

        .shap-left-top{
            position: absolute;
            top: 0;
            left: -2.05rem;
            transform: rotate(90deg);
        
            svg{
                width: 2.1rem;
                height: 2.1rem;
            }
        }

        .shap-right-bottom{
            position: absolute;
            bottom: -2.1rem;
            right: 10px;
            transform: rotate(90deg);
        
            svg{
                width: 2.1rem;
                height: 2.1rem;
            }
        }
    }

    .text-info{
        position: absolute;
        left: -1px;
        bottom: -1px;
        padding: 40px;
        background: $main_bg;
        border-radius: 0 30px 0 0;
        z-index: 3;

        .shap-left-top{
            position: absolute;
            top: -2.05rem;
            left: 1px;
            transform: rotate(270deg);
        
            svg{
                width: 2.1rem;
                height: 2.1rem;
            }
        }

        .shap-right-bottom{
            position: absolute;
            bottom: 0;
            right: -2.1rem;
            transform: rotate(270deg);
        
            svg{
                width: 2.1rem;
                height: 2.1rem;
            }
        }
    }
}

.crev-agency-header{
    border-bottom: 1px solid rgba(255,255,255,.1);

    .caption{
        padding-left: 15px;
        width: calc(100% + 30px);
        position: relative;
        z-index: 3;

        h1{
            font-size: 85px;
            line-height: 1.1;
        }
    }

    .left-clumn,
    .right-clumn{
        padding: 40px 30px;

        .img{
            border-radius: 10px;
            overflow: hidden;
        }
    }

    .left-clumn{
        border-right: 1px solid rgba(255,255,255,.1);

        .img{
            margin-bottom: 140px;
        }
    }

    .right-clumn{
        border-left: 1px solid rgba(255,255,255,.1);

        .img{
            margin-top: 70px;
        }
    }
}

.crev-portfolio-header{
    position: relative;

    .numb-fixed {
        position: absolute;
        top: 50%;
        right: -1px;
        width: max-content;
        padding: 10px 25px;
        border-radius: 15px 15px 0 0;
        transform: rotate(-90deg) translateX(50%) translateY(-100%);
        transform-origin: top right;
    }

    .caption{

        h1{
            font-size: 74px;
        }
    }
}

.startup-header{
    padding: 15px 15px 0;

    .bg-img{
        min-height: 100vh;
        padding: 120px 0;
    }

    .caption{
        position: relative;

        .lg-text{
            font-size: 120px;
            text-transform: uppercase;

            .text{
                display: block;

                &:nth-of-type(2){
                    padding-left: 30vw;
                }
            }
        }

        p{
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 20vw;
        }
    }
}

.freelancer{
    position: relative;
    padding-top: 120px;

    &:after{
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 200px;
        background-image: linear-gradient(0deg, $main_bg, transparent);
        z-index: 5;
    }

    &:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        background-image: url(../imgs/patterns/lines1.png);
        background-size: cover;
        background-position: center top;
        opacity: .2;
        z-index: -1;
    }

    .caption{
        text-align: center;

        h1{
            font-size: 13vw;
            font-weight: 800;
            line-height: 1.2;
            text-transform: uppercase;
            position: absolute;
            bottom: 50px;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;

            span{
                display: block;
                white-space: nowrap;
            }

            &.stroke{
                color: transparent;
                -webkit-text-stroke: 1px rgba(255,255,255,.8 );
                z-index: 3;
            }
        }
    }
}

.page-header-cerv{
    position: relative;

    &:after{
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 80%;
        background-image: linear-gradient(0deg, $main_bg, transparent);
        z-index: 2;
    }
}

.page-header-cerv,
.page-header{

    &.section-padding{
        padding: 100px 0;
    }
}

.header-project1{
    padding: 180px 0 0;

    .bg-img{
        height: 90vh;
        min-height: 600px;
    }

    .head-img{
        height: 550px;
    }
}

.header-project2{

    .project2{
        width: 130%;
        margin-left: -15%;

        .img{
            height: 75vh;
            min-height: 500px;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center center;
            }
        }
    }
}

.header-project3{
    min-height: 70vh;
    padding: 220px 0 120px;

    &:before{
        background: linear-gradient(to top, $main_bg, transparent);
        opacity: 1;
    }
}

.header-project4{
    min-height: 100vh;
    padding: 220px 0 80px;
}

.header-project6{

    .info{

        .category{
            position: relative;
            padding-right: 10px;

            &:after{
                content: ',';
                position: absolute;
                top: 50%;
                right: 5px;
                transform: translateY(-50%);
            }

            &:last-of-type{

                &:after{
                    display: none;
                }
            }
        }

        .date{
            position: relative;
            padding-left: 10px;

            &:after{
                content: '';
                position: absolute;
                bottom: 5px;
                left: -2px;
                width: 3px;
                height: 3px;
                border-radius: 50%;
                background: $main_color;
            }
        }
    }
}

.page-header-error{
    min-height: 100vh;
    position: relative;

    .main-marq{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        pointer-events: none;
        opacity: .1;

        .item{
            padding: 0 100px;

            h4{
                font-size: 20vw;
                line-height: 1;
                color: transparent !important;
                -webkit-text-stroke: 0.5px #fff !important;
            }
        }
    }
}



@keyframes move {
	0% {
	  background-position: 0 0;
	}
	25% {
	  background-position: 50% 0;
	}
	50% {
	  background-position: 90% 0;
	}
	60% {
	  background-position: 60%;
	}
	75% {
	  background-position: 40%;
	}
	100% {
	  background-position: 0 0;
	}
}


