
/* Team
-----------------------------------------------------------------*/

.team{

    .item{
        position: relative;
        padding-right: 60px;

        &:hover{

            .img{

                .info{
                    bottom: 15px;
                    opacity: 1;
                }
            }

            .social{
                right: 5px;
                transform: rotate(8deg);
            }
        }

        .img{
            border-radius: 10px;
            overflow: hidden;
            position: relative;
            z-index: 2;

            .info{
                position: absolute;
                left: 15px;
                right: 15px;
                bottom: -15px;
                padding: 15px;
                text-align: center;
                background: rgba(0,0,0,.1);
                backdrop-filter: blur(15px);
                border-radius: 10px;
                opacity: 0;
                transition: all .4s;
            }
        }

        .social{
            position: absolute;
            top: 50px;
            left: 50px;
            right: 60px;
            bottom: 40px;
            border: 1px solid rgba(255,255,255,.1);
            background: $sub_bg;
            border-radius: 10px;
            transition: all .4s;

            .links{
                position: absolute;
                top: 15px;
                right: 15px;

                a{
                    display: block;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    border: 1px solid rgba(255,255,255,.3);
                    border-radius: 50%;
                    margin-bottom: 5px;
                    transition: all .4s;

                    &:hover{
                        background: $main_color;
                        border-color: $main_color;
                        color: #111;
                    }
                }
            }
        }
    }
}

.team-tab{

    .cluom{
        display: flex;
        align-items: center;
        padding: 40px;
        border-bottom: 1px solid rgba(255,255,255,.1);
        border-left: 1px solid rgba(255,255,255,.1);

        &:last-of-type{
            border-bottom: 0;
        }

        &.current{
            border-left-color: transparent;
        }

        .more{
            margin-left: auto;
        }
    }

    .glry-img{
        width: 100%;
        height: 100%;
        position: relative;

        .bg-img{
            position: absolute;
            top: 80px;
            left: 80px;
            right: 80px;
            bottom: 80px;
            transform: scale(.9);
			opacity: 0;
			transition: all .7s;
			background-size: cover;
			background-position: center center;

			&.current{
				transform: scale(1);
				opacity: 1;
			}
        }
    }

    &.crev{
        border: 0;

        .cluom{
            padding: 0 0 15px;
            border-left: 0;
        }

        .glry-img{
            width: 450px;
            height: 450px;
            position: relative;
            transform: rotate(-10deg);
    
            .bg-img{
                position: absolute;
                top: 20px;
                left: 20px;
                right: 20px;
                bottom: 20px;
                transform: scale(1.05);
                opacity: 0;
                transition: all .7s;
                background-size: cover;
                background-position: center center;
                border-radius: 15px;

                &:before{
                    top: -50px;
                    left: 50px;
                    transform: translateY(-100px);
                }

                &:after{
                    bottom: -50px;
                    right: 50px;
                    transform: translateY(100px);
                }

                &:after,
                &:before{
                    content: '';
                    position: absolute;
                    width: 20px;
                    height: 100px;
                    background: $main-color;
                    opacity: 0;
                    transition: all .4s;
                    transition-delay: .4s;
                }
    
                &.current{
                    transform: scale(1);
                    opacity: 1;

                    &:after,
                    &:before{
                        opacity: 1;
                        transform: translateY(0);
                    }
                }
            }
        }
    }
}

.team-single{

    .img{
        height: 100vh;
        overflow: hidden;
    }

    .cont{
        position: relative;
        z-index: 2;

        .text{
            padding: 60px;
            margin-left: -180px;

            p.main-text {

                &:first-letter{
                    color: #fff;
                    font-size: 30px;
                    font-weight: bold;
                }
            }
        }
    }
}

.skills{

    .skill-item{

        .skill-progress {
            height: 10px;
            position: relative;
    
            .progres {
                position: absolute;
                height: 100%;
                width: 0;
                top: 0;
                left: 0;
                background-color: $main_color;
                transition: all 1.5s;
    
                &:after{
                    content: attr(data-value);
                    position: absolute;
                    top: -5px;
                    right: -50px;
                }
            }
        }
    }

    .resume-exp{

        .box-items{
            position: relative;
            border: 1px solid rgba(255,255,255,.3);
            background: $main_bg;

            &:after{
                content: '';
                position: absolute;
                bottom: -30px;
                left: -30px;
                background-image: url(../imgs/patterns/dots2.png);
                background-repeat: repeat;
                background-size: 10px;
                width: 200px;
                height: 200px;
                opacity: .4;
                z-index: -1;
            }

            .item{
                padding: 25px;
                position: relative;

                .num{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 45px;
                    height: 45px;
                    line-height: 45px;
                    text-align: center;
                    border-radius: 0 50px 50px 50px;
                    background: $main_color;
                    color: $main_bg;
                    font-size: 17px;
                    font-weight: 500;

                    small{
                        font-size: 12px;
                        margin-left: -3px;
                    }
                }

                &:nth-of-type(1),
                &:nth-of-type(2){
                    border-bottom: 1px solid rgba(255,255,255,.3);
                }

                &:nth-of-type(1),
                &:nth-of-type(3){
                    border-right: 1px solid rgba(255,255,255,.3);
                }
            }
        }
    }
}