
/* Testimonials
-----------------------------------------------------------------*/

.testimonials{
    position: relative;

    .small-line{
        position: absolute;
        bottom: -100px;
        left: 0;
        width: 400px;
        height: 400px;
        z-index: 1;
        pointer-events: none;

        .line-overlay svg path{
            stroke: #6c6969;
        }
    }

    .swiper-slide{
        padding-top: 50px;
        padding-left: 50px;
    }

    .item{

        .text{
            position: relative;

            .qout-svg{
                position: absolute;
                left: -40px;
                top: -70px;
                width: 160px;
            }
        }

        .circle{
            width: 80px;
            height: 80px;
        }
    }

    .control-abslout{
        position: absolute;
        bottom: 15px;
        right: 15px;
    }
}

.testim-crev{
    
    .item{
        padding: 50px 50px 0px;
        border-radius: 30px 30px 30px 0;
        position: relative;

        .rate-stars{
            position: absolute;
            top: 0;
            right: 0;
            padding: 15px 60px 15px 30px;
            border-radius: 0 0 0 30px;

            .shap-left-top{
                position: absolute;
                top: -1px;
                left: -2.05rem;
                transform: rotate(90deg);
            
                svg{
                    width: 2.1rem;
                    height: 2.1rem;
                }
            }
    
            .shap-right-bottom{
                position: absolute;
                bottom: -2.1rem;
                right: -1px;
                transform: rotate(90deg);
            
                svg{
                    width: 2.1rem;
                    height: 2.1rem;
                }
            }
        }

        .qout-svg{
            width: 80px;
            height: 80px;
            margin-bottom: 40px;
        }

        .tag{
            padding: 8px 20px;
            border: 1px solid rgba(255,255,255,.1);
            border-radius: 30px;
        }

        .info{
            display: flex;
            align-items: center;
            margin-left: -50px;

            .img{
                width: 80px;
                height: 80px;
                border-radius: 50%;
                overflow: hidden;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .img-curv{
            position: relative;
            padding: 20px;
            border-radius: 0 30px 0 0;

            .shap-left-top{
                position: absolute;
                top: -2.05rem;
                left: -1px;
                transform: rotate(270deg);
            
                svg{
                    width: 2.1rem;
                    height: 2.1rem;
                }
            }
    
            .shap-right-bottom{
                position: absolute;
                bottom: 0;
                right: -2.1rem;
                transform: rotate(270deg);
            
                svg{
                    width: 2.1rem;
                    height: 2.1rem;
                }
            }
        }
    }

    .bord-box{
        border: 1px solid rgba(255,255,255,.1);
        border-radius: 0;
        padding: 50px;

        .info{
            margin-left: 0;

            .img-curv{
                padding: 0;
                border-radius: 0;
            }

            .qout-svg{
                width: 80px !important;
                height: 80px !important;
                margin-bottom: 0 !important;
            }
        }
    }

    .testim-swiper2{

        .item{
    
            .qout-svg{
                width: 60px;
                height: 60px;
                margin-bottom: 30px;
            }

            p{
                font-size: 17px;
            }
        }
    }
}

.testimonials-crev{

    .testim-swiper{
        position: relative;
        padding: 60px 80px 60px 0;

        &:after{
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: -2px;
            width: 100vw;
            background: $main_bg;
        }
    }

    .swiper-slide{
        padding-top: 50px;
    }

    .item{

        .text{
            position: relative;

            .qout-svg{
                position: absolute;
                left: -40px;
                top: -70px;
                width: 160px;
            }
        }

        .circle{
            width: 300px;
            height: 300px;
        }
    }

    .control-abslout{
        position: absolute;
        top: 50%;
        right: -15px;
        display: block;

        .swiper-button-next{
            margin: 15px 0 0;
        }

        .swiper-button-prev,
        .swiper-button-next{
            background: transparent;
            border: 1px solid rgba(255,255,255,.1);
            backdrop-filter: blur(7px);
        }
    }
}

@keyframes spin {
    100% {
      transform: rotate(360deg);
    }
}

.star-icon{
    position: absolute;
    font-size: 40vw;
    font-family: 'Poppins', sans-serif;
    line-height: .7;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255,255,255,.7);
}