
/* Variables
-----------------------------------------------------------------*/

$main_color: #14cf93;
$main_color2: #caff33;
$body_color: #fff;
$sub_bg: #1d1d1d;
$sub_bg2: #222;
$main_bg: #1a1a1a;
$mobile-xs-screen: 480px;
$tablet-sm-screen: 768px;
$desk-md-screen: 992px;
$desk-lg-screen: 1300px;